<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>files</key>
	<dict>
		<key>Resources/1.mov</key>
		<data>
		kPB37Vv+9mfBa53x0nYad9rp7cY=
		</data>
		<key>Resources/Arch_someSelected.png</key>
		<data>
		pxq1CChuc8JmxOjp4tqiLBlM/JY=
		</data>
		<key>Resources/Blackground.png</key>
		<data>
		KiKXhaLYi6kNyObku5tp6F5tiIY=
		</data>
		<key>Resources/DataRecoveryConfig.plist</key>
		<data>
		tRkD/mNgaUtUyijdHF9HWBaKzy0=
		</data>
		<key>Resources/DeepFSFiles.nib</key>
		<data>
		fpivbMHMtapghLCukzHg+DH8Cqk=
		</data>
		<key>Resources/DelFSFiles.nib</key>
		<data>
		jSZxjBo6z7/1BHutP1C8Xgd/89g=
		</data>
		<key>Resources/Docu_someSelected.png</key>
		<data>
		lE39Dogt1cZ6GvZcWsZgcd5GuHE=
		</data>
		<key>Resources/Down.png</key>
		<data>
		ZhQsnfWCz+tbtKlD0SV2YqwqeQ0=
		</data>
		<key>Resources/Down1.png</key>
		<data>
		N3QhFLNfUBURTxUwkydQP2yoxvk=
		</data>
		<key>Resources/FileType.plist</key>
		<data>
		9LkTWq1co+VY4rMDEigxYu3PQ5s=
		</data>
		<key>Resources/Log.icns</key>
		<data>
		pwYSxTC41uiZGwfkc79GQoXfGNA=
		</data>
		<key>Resources/Mail_someSelected.png</key>
		<data>
		v4wdUhqPxmHeArPSO30oGzvTJ6A=
		</data>
		<key>Resources/Main2.png</key>
		<data>
		U6MMJS6UvDclNmrrZWwEXfpCKp8=
		</data>
		<key>Resources/Mov_someSelected.png</key>
		<data>
		kCodIzM5zSR8DzU6/Ly2AMHym6E=
		</data>
		<key>Resources/Music_someSelected.png</key>
		<data>
		MppP1fxKseTNNBMka9DNfBohXeQ=
		</data>
		<key>Resources/NoPreview.png</key>
		<data>
		KYAF2h3sHBkwYoIKrVvzSpBITRk=
		</data>
		<key>Resources/NoTypePreview.png</key>
		<data>
		K3UvMqZOkKxpRx01ize1k3T7yzc=
		</data>
		<key>Resources/PartSelectPhotoImg.png</key>
		<data>
		xLNEssy1yikAZFavVyTXb4N3ioQ=
		</data>
		<key>Resources/SelectAddress.png</key>
		<data>
		3CEsr6gG93Kn1T3u88sky5hDmLA=
		</data>
		<key>Resources/SelectCalling.png</key>
		<data>
		tMll2WDHLhi1Ukm1LNvu112d43M=
		</data>
		<key>Resources/SelectDate.png</key>
		<data>
		So7c/hS0+mDNVJ/76vYNl4MbeUg=
		</data>
		<key>Resources/SelectMessage.png</key>
		<data>
		nRAr6yamXthjYK0ZQ5D7e9ky/TA=
		</data>
		<key>Resources/SelectNote.png</key>
		<data>
		vFH/G2ctECD0gQYEZSwFopx5br8=
		</data>
		<key>Resources/SelectPhotoImg.png</key>
		<data>
		QJnq2UEI0j5Kdx4jTmeDYkp1YFc=
		</data>
		<key>Resources/UnSelectAddress.png</key>
		<data>
		+0r6bBXS+vdmYV1KQJz383FnRq4=
		</data>
		<key>Resources/UnSelectCalling.png</key>
		<data>
		pNlaykOI5LkwNkgb6FRPW2RUT64=
		</data>
		<key>Resources/UnSelectDate.png</key>
		<data>
		N9oFvpa8CNSgkWiopMCqOnBkJTc=
		</data>
		<key>Resources/UnSelectMessage.png</key>
		<data>
		KlXX3Gm6s3eV5t5DtNNswqjML8o=
		</data>
		<key>Resources/UnSelectNote.png</key>
		<data>
		K74mWTnLTorqvRCpT8NaLIicj04=
		</data>
		<key>Resources/UnSelectPhotoImg.png</key>
		<data>
		lwrHxtoYxq5+PcHJk0onDOM2I98=
		</data>
		<key>Resources/View.png</key>
		<data>
		VxRMj4FF7yQsuCDndqkYrAxwnY0=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Info.plist</key>
		<data>
		groxt/+4Shxz/RomLkOcwE8p2fw=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/MacOS/Wondershare Helper Compact</key>
		<data>
		R+Et8pRsNnNVL3FVGEBNBWaODEE=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/PkgInfo</key>
		<data>
		n57qDP4tZfLD1rCS43W0B4LQjzE=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/Add to Dock.scpt</key>
		<data>
		U44b9OnCP5K/BndmIY78J2vK0Co=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/English.lproj/InfoPlist.strings</key>
		<dict>
			<key>hash</key>
			<data>
			menkgzdGJlKzENWxKLMFxqqe2QU=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/English.lproj/MainMenu.nib</key>
		<dict>
			<key>hash</key>
			<data>
			IXHeR91AEvRdgZFG/xO8OzUcrgc=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/MenuIcon.png</key>
		<data>
		BHIdxz6TDdimCUAKo49cr2ZfRms=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/MenuIconPressed.png</key>
		<data>
		zshxIIGPApakkdFxBCeU1DVHsw4=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/RemindWindow.nib</key>
		<data>
		h+fXU8DIs5EAsSrf7hggGhuUzAE=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/Setting.nib</key>
		<data>
		aKQ3kVtH4YgzFXtVstWodMFQ9/Y=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/TipsWindow.nib</key>
		<data>
		+Pj87EhofjOC/JOs14ZVNvoy4IY=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/bntTipClose_press.png</key>
		<data>
		ygScKSVFMopmEde1QoQFx9y8Sjo=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/bottom.png</key>
		<data>
		1gUqMRUIADr96P1wHNVICLM89mc=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/btnHelper_normal.png</key>
		<data>
		9RpjIRKSZR7/PQ+PHS2GpKa4tcI=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/btnHome_hot.png</key>
		<data>
		aRGH+y6hzlHcVccSh6ZSoZwSYiE=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/btnHome_normal.png</key>
		<data>
		GeiZMrw0V6fQnZIfBMmZ/g8xV4Y=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/btnOnlineHelp_hot.png</key>
		<data>
		8aYJlkJiNnC+kIXA5YK0WDqtMGI=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/btnOnlineHelper_normal.png</key>
		<data>
		n1SzfR6NhD4Vfj2X7P86o614hXs=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/btnSetting_hot.png</key>
		<data>
		DW7oeqm2FIQ/ape4Eli+Vxcz+Fk=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/btnSetting_normal.png</key>
		<data>
		NxiKKUZx5cU6Vz9LBBB8hy+m4yw=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/btnTipClose_hot.png</key>
		<data>
		aHWwvT7eSaFurPkywBVXrAf4NmQ=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/btnTipClose_normal.png</key>
		<data>
		FYqo1Ht3/sFR3lM7JG+WceVhJBE=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/images/data-recovery-box-bg.png</key>
		<data>
		fmO/eO2VJC1l1eVCdmiP/qiz+28=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/images/data-recovery-for-mac-bg.png</key>
		<data>
		uRT20fjRyafMnRSGu4Rv3nQ5jSQ=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/images/dvd-slideshow-builder-deluxe-box-bg.png</key>
		<data>
		pvk9gKwD7qmrn22nqk4AKd4VsDY=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/images/mac-fantashow-box-bg.png</key>
		<data>
		nr/RcsQAPo81ktiU0gcCsHdYqQw=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/images/mac-video-converter-ultimate-box-bg.png</key>
		<data>
		VuXO/d7Xec2sBXEmFqsAlTjYEXA=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/images/mobilego-bg.png</key>
		<data>
		dbBoTQlvwUHJ90mFgX7W/37mykk=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/images/pdf-converter-pro-box-bg.png</key>
		<data>
		XLT6ttx8EntBbva+dyL9egkr/Ig=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/images/pdf-converter-pro-for-mac-box-bg.png</key>
		<data>
		EyC6QRaLM/+m7uKIM/VeZOJsiZ4=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/images/video-converter-ultimate-bg.png</key>
		<data>
		vjnKecryF4yaQNNUGg6e8xbjyJU=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/install</key>
		<data>
		26T45zG0B/Dc2oDjkGohA0pwA7k=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/mac.html</key>
		<data>
		aEW73Hz2OpsT5iMX4XvOk1LM3KQ=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/networkConnectError.html</key>
		<data>
		JiSTY9qkaDJh8jgC9GOvq4M5F64=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/style/adv-bg_20.png</key>
		<data>
		awArwAKz/YkW2SdIUf0HNdCP39c=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/style/btn.png</key>
		<data>
		hdv4x2t7XKYsdvK10J0VzZU+85Q=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/style/buy_28.png</key>
		<data>
		+YZekdB5mcKu4jDlKjFpDt8iIQ0=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/style/down_24.png</key>
		<data>
		Z8ebDEUYj1b+GFCKNiQbooafloo=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/style/hot_20.png</key>
		<data>
		90RPtwtYJblFr9e5kvXwarMel64=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/style/images/bg5.png</key>
		<data>
		I9842brnZF5TfBgTpOZ3Iu/K1kI=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/style/images/icon_alert.png</key>
		<data>
		VO7fiVDrw/5w1LuEdwhVSHS9zsI=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/style/jquery-1.4.2.js</key>
		<data>
		1RaMmoZXnR/CxcPwcG6+OsFN/kY=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/style/li.gif</key>
		<data>
		Qyz0/hkmXySqvbdjQ/jxLwkCiOQ=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/style/main.css</key>
		<data>
		IY/EWJK7gJ1vWGwRkAiCw2LpWDU=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/style/nav-_10.png</key>
		<data>
		9tHUmXbWA40rw7CRclF2Mie4PJU=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/style/style.css</key>
		<data>
		Q0lYVBs6mMmrqxhyYrDvXe5myKo=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/topbackground.png</key>
		<data>
		5ZyEJ9f3mSz6TRAXeFeHkQne+Wk=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/Resources/wondershare helper.icns</key>
		<data>
		/FUtQWCYuzVF1iwmYh+WuKS8kwA=
		</data>
		<key>Resources/Wondershare Helper Compact.app/Contents/_CodeSignature/CodeResources</key>
		<data>
		QVshVlp63Fn1BVSRC1jZBsLDp+g=
		</data>
		<key>Resources/WsDR.plist</key>
		<data>
		YAdiSAC+AkjP4VlU+KKyvAlWwjU=
		</data>
		<key>Resources/archFile_someSelected.png</key>
		<data>
		TYjoUR7Zqy4BhqOx9jxXe46bP9s=
		</data>
		<key>Resources/average.png</key>
		<data>
		Z97gm/+GQMwjuPBs444gGwhuHKg=
		</data>
		<key>Resources/baccolor.png</key>
		<data>
		ff7A2YikO/2Mus449pukzMfuTKM=
		</data>
		<key>Resources/back1.png</key>
		<data>
		Cd17NOB5OteGFcC5PRhQCON82rQ=
		</data>
		<key>Resources/back2.png</key>
		<data>
		Mwd6DN1dZkMjF4sSUW8fGG1lil4=
		</data>
		<key>Resources/backDisk.png</key>
		<data>
		Ak4eZEFAYuB1cgsChj2VZxyqX9g=
		</data>
		<key>Resources/background.png</key>
		<data>
		uIrwT93cHf5xy9kryfWeb19zcoY=
		</data>
		<key>Resources/bottomcolor.png</key>
		<data>
		FYafN0pUFaJQKhfEArfyawfbn6g=
		</data>
		<key>Resources/buy.png</key>
		<data>
		TavlVVk81+VLPvUOH2I/OFMbSB0=
		</data>
		<key>Resources/buybtn1.png</key>
		<data>
		d4axAuMYRuMqhg63RK9dendk2d8=
		</data>
		<key>Resources/buybtn2.png</key>
		<data>
		WCMKL+8rc6tYWbzt9ldUNdFnuic=
		</data>
		<key>Resources/column.png</key>
		<data>
		OCJDIPsrbwHhgM+Aw3K1gHiXVNY=
		</data>
		<key>Resources/coverFlow.tiff</key>
		<data>
		rYpLII4KExvca9ShDU+mnUm4624=
		</data>
		<key>Resources/coverflow.png</key>
		<data>
		5+ziCC1SX3EWvP4H2aKVzqrJLAY=
		</data>
		<key>Resources/current.png</key>
		<data>
		WiPfjqw7kybtVdz/SkSuQyEegFw=
		</data>
		<key>Resources/current1.png</key>
		<data>
		KCfgCWlJldOCUo7COcWcxtwKrgw=
		</data>
		<key>Resources/de.lproj/DRAlert.nib</key>
		<dict>
			<key>hash</key>
			<data>
			55hM+35tUwMyrOxZEk16SEVs/4s=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/de.lproj/DiskView.nib</key>
		<dict>
			<key>hash</key>
			<data>
			p8BlJmHjG1NX5WVp3ii3LsrRmw8=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/de.lproj/FilterOptWindow.nib</key>
		<dict>
			<key>hash</key>
			<data>
			J4XFCEwSSK7HPB0ri4jtWN1KUvQ=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/de.lproj/InfoPlist.strings</key>
		<dict>
			<key>hash</key>
			<data>
			wEGWom+wKjIBFXQTiYlC0yZvw/Q=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/de.lproj/ListNode.nib</key>
		<dict>
			<key>hash</key>
			<data>
			8qn1R9/wq04Rdr37rNrmgNxPw/A=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/de.lproj/Localizable.strings</key>
		<dict>
			<key>hash</key>
			<data>
			bo2IoWqsSK5aZWQtG+gV61mpUqY=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/de.lproj/MainMenu.nib</key>
		<dict>
			<key>hash</key>
			<data>
			Z+/0sj+J7nfzA17Zl858xAt1BMQ=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/de.lproj/ScanView.nib</key>
		<dict>
			<key>hash</key>
			<data>
			kt5HhPAd0Y6xNWil5pkg7Gb2Ry8=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/de.lproj/ThumNodeView.nib</key>
		<dict>
			<key>hash</key>
			<data>
			kDnyHz9ztNMvdlP/tsJgZeACm8c=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/de.lproj/aboutLogo.png</key>
		<dict>
			<key>hash</key>
			<data>
			dQKcCiU/qVXctsby6oWNe1Wz4m8=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/de.lproj/main1.png</key>
		<dict>
			<key>hash</key>
			<data>
			EMSgYo+nM4wg/CUANbHsFym60Wk=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/delete1.png</key>
		<data>
		YZIyQPI0qd/5iUkpRFnk5X/b6Ic=
		</data>
		<key>Resources/delete2.png</key>
		<data>
		gTDKJfOHedtdIt8yeqz/Olpn3rM=
		</data>
		<key>Resources/delete3.png</key>
		<data>
		bw8UmRri91pvcEKvtomvTGb9jIY=
		</data>
		<key>Resources/diskbg.png</key>
		<data>
		sP1KAtKDMXtO94bUdTiFSnCoEVU=
		</data>
		<key>Resources/docuFile_someSelected.png</key>
		<data>
		UBnxksJtJet1YZcL5jJRYiPyPZg=
		</data>
		<key>Resources/doucFile_someSelected.png</key>
		<data>
		BBYfktGaZT1YsiRBtLgI67Ym9UQ=
		</data>
		<key>Resources/drag.png</key>
		<data>
		QKBiFMNac+MC4U0oMe8r6uqwqkQ=
		</data>
		<key>Resources/en.lproj/DRAlert.nib</key>
		<dict>
			<key>hash</key>
			<data>
			ajDyVW2b2rHsu/6FDN1aEqnv10U=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/en.lproj/DiskView.nib</key>
		<dict>
			<key>hash</key>
			<data>
			mEi27rNuI7PH0Lz32tICWxQdpio=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/en.lproj/FilterOptWindow.nib</key>
		<dict>
			<key>hash</key>
			<data>
			QxzlRMS8skFNx0qNu2UgDkHRnwY=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/en.lproj/InfoPlist.strings</key>
		<dict>
			<key>hash</key>
			<data>
			Rl794hF18oo7fCVVu3KKchrE+NI=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/en.lproj/ListNode.nib</key>
		<dict>
			<key>hash</key>
			<data>
			8qn1R9/wq04Rdr37rNrmgNxPw/A=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/en.lproj/Localizable.strings</key>
		<dict>
			<key>hash</key>
			<data>
			hkC1ClhRmTKYRt45DWKT/fSCXGg=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/en.lproj/MainMenu.nib</key>
		<dict>
			<key>hash</key>
			<data>
			Um7YpK7E6jITOxGUxKPzliJswKg=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/en.lproj/ScanView.nib</key>
		<dict>
			<key>hash</key>
			<data>
			YvcYEm/xgqurwkPfnNLyy13tx/s=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/en.lproj/ThumNodeView.nib</key>
		<dict>
			<key>hash</key>
			<data>
			kDnyHz9ztNMvdlP/tsJgZeACm8c=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/en.lproj/aboutLogo.png</key>
		<dict>
			<key>hash</key>
			<data>
			dQKcCiU/qVXctsby6oWNe1Wz4m8=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/en.lproj/main1.png</key>
		<dict>
			<key>hash</key>
			<data>
			EMSgYo+nM4wg/CUANbHsFym60Wk=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/externDisk.png</key>
		<data>
		/bjrxYOJX8u5qT+/WWUOn2qINjg=
		</data>
		<key>Resources/facebook.png</key>
		<data>
		5UFF+t7aF80q6pwTquPjpdMby5k=
		</data>
		<key>Resources/firstBottom.png</key>
		<data>
		f0tgcteNy5/yXql/PTegsTE75/4=
		</data>
		<key>Resources/flashDisk.png</key>
		<data>
		hJQ9gDk4FxhHb2nab2ZhnFZp7Bo=
		</data>
		<key>Resources/flashimg.png</key>
		<data>
		lmbo+YyRJRrRjLDXegiJA9DvxdU=
		</data>
		<key>Resources/folderIcon.png</key>
		<data>
		9dak0crNoYi9Oh+RZFGcqCcY76M=
		</data>
		<key>Resources/fr.lproj/DRAlert.nib</key>
		<dict>
			<key>hash</key>
			<data>
			m0XG1emfJ9eqsqenS8IMvxrPYL8=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/fr.lproj/DiskView.nib</key>
		<dict>
			<key>hash</key>
			<data>
			HyRrGKr3KTgECr9AyVd5FEqKq6Q=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/fr.lproj/FilterOptWindow.nib</key>
		<dict>
			<key>hash</key>
			<data>
			NR43KhBZf3/2DfFH8re9vcmMCUg=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/fr.lproj/InfoPlist.strings</key>
		<dict>
			<key>hash</key>
			<data>
			ByI3Keim7IEvlPo1h2PPeJFlNZ0=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/fr.lproj/ListNode.nib</key>
		<dict>
			<key>hash</key>
			<data>
			8qn1R9/wq04Rdr37rNrmgNxPw/A=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/fr.lproj/Localizable.strings</key>
		<dict>
			<key>hash</key>
			<data>
			3lm9cYhSw1iqMp6MvpQX+C9OhmA=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/fr.lproj/MainMenu.nib</key>
		<dict>
			<key>hash</key>
			<data>
			XetZhOTrWWxP9Irj3e/4SQJqu6k=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/fr.lproj/ScanView.nib</key>
		<dict>
			<key>hash</key>
			<data>
			B9nyf5qNv1nIlXciGHIad1JppLc=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/fr.lproj/ThumNodeView.nib</key>
		<dict>
			<key>hash</key>
			<data>
			kDnyHz9ztNMvdlP/tsJgZeACm8c=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/fr.lproj/aboutLogo.png</key>
		<dict>
			<key>hash</key>
			<data>
			dQKcCiU/qVXctsby6oWNe1Wz4m8=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/fr.lproj/main1.png</key>
		<dict>
			<key>hash</key>
			<data>
			EMSgYo+nM4wg/CUANbHsFym60Wk=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/good.png</key>
		<data>
		WX6aHSAL4D0/K1i7+ag+oF0GGtA=
		</data>
		<key>Resources/home1.png</key>
		<data>
		OIDKAri7lnR43ziDK/ZkQzDEn+M=
		</data>
		<key>Resources/home2.png</key>
		<data>
		DVjiemvAk+c5j0sbcFeIE4erHd4=
		</data>
		<key>Resources/hover.png</key>
		<data>
		NqbiRpfZNc+CYRyKhF/AgfYf12U=
		</data>
		<key>Resources/hover2.png</key>
		<data>
		OBGVopBAhbwAFcY1Hc2OosR/EWA=
		</data>
		<key>Resources/icon.png</key>
		<data>
		tymlOarh+Dndp6DEpv68TjMfofE=
		</data>
		<key>Resources/init.png</key>
		<data>
		NvVZC+FeobTasaBwa/gR+D+HCEA=
		</data>
		<key>Resources/ipad.png</key>
		<data>
		fmlxQniXDOtB5iyBENp2BlP7UI0=
		</data>
		<key>Resources/iphone.png</key>
		<data>
		RqJaTT+bJzr50ZUes0A0mYQJk6g=
		</data>
		<key>Resources/ipodtouch.png</key>
		<data>
		plrf01Rf5yevYpVsvFlR9vYxg0s=
		</data>
		<key>Resources/itunes1.png</key>
		<data>
		qJ5YvzbELdeNom8S5ew6PzNRq/g=
		</data>
		<key>Resources/itunes2.png</key>
		<data>
		1X+DHj1VQ1+rIFLM42VYomRU3Dg=
		</data>
		<key>Resources/ja.lproj/DRAlert.nib</key>
		<dict>
			<key>hash</key>
			<data>
			ajDyVW2b2rHsu/6FDN1aEqnv10U=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/ja.lproj/DiskView.nib</key>
		<dict>
			<key>hash</key>
			<data>
			oXWdEt8YjtKsU3WqM0SzLJM5hhM=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/ja.lproj/FilterOptWindow.nib</key>
		<dict>
			<key>hash</key>
			<data>
			bqG3MBvp5tDxmWFBRI1Jdp2XMkU=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/ja.lproj/InfoPlist.strings</key>
		<dict>
			<key>hash</key>
			<data>
			m+WcQHOLIsN7T4ILEiBKhswjPMU=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/ja.lproj/ListNode.nib</key>
		<dict>
			<key>hash</key>
			<data>
			8qn1R9/wq04Rdr37rNrmgNxPw/A=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/ja.lproj/Localizable.strings</key>
		<dict>
			<key>hash</key>
			<data>
			blOp6Q5/coVFPIc90woEe7l4Mik=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/ja.lproj/MainMenu.nib</key>
		<dict>
			<key>hash</key>
			<data>
			aYQSiphENiNJhAKWisTzcOe+IRE=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/ja.lproj/ScanView.nib</key>
		<dict>
			<key>hash</key>
			<data>
			Dqn9YTbgwRjJdx5pczPPLYTtA1g=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/ja.lproj/ThumNodeView.nib</key>
		<dict>
			<key>hash</key>
			<data>
			kDnyHz9ztNMvdlP/tsJgZeACm8c=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/ja.lproj/aboutLogo.png</key>
		<dict>
			<key>hash</key>
			<data>
			+SdEI9YA+NUzenEPPPtsqQQPXNI=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/ja.lproj/main1.png</key>
		<dict>
			<key>hash</key>
			<data>
			i/jYLsxm6DPp9yEOLEjc+nU3v6o=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/leftunderbac.png</key>
		<data>
		cojUtmkgmihg5oOGMKUL1fw+A7g=
		</data>
		<key>Resources/list.png</key>
		<data>
		odvWv/7SB2LyioIAWNDYmyazEj4=
		</data>
		<key>Resources/listImg.tiff</key>
		<data>
		Lx5P50DweYvMwOu8Ymk7oBhlqS0=
		</data>
		<key>Resources/lostPartition1.png</key>
		<data>
		fW+Sq35lLHMeIUyVeaNcCu1I5yE=
		</data>
		<key>Resources/lostPartition2.png</key>
		<data>
		bjYcjSLQUlgpzXHQDUBh+1WozbA=
		</data>
		<key>Resources/lostPartition3.png</key>
		<data>
		yvADy3sNDIXo4oQ9NVvtP/ur+Gc=
		</data>
		<key>Resources/m_Arch.png</key>
		<data>
		ensvvkdxsiAUwRfe9QTGjJ0WeDE=
		</data>
		<key>Resources/m_Docu.png</key>
		<data>
		ghSIczhLqocQjBENXz1iKdqBX5o=
		</data>
		<key>Resources/m_Photo.png</key>
		<data>
		jSvaI7YNvSS+R2hZDwB0ZxbXmQE=
		</data>
		<key>Resources/m_Video.png</key>
		<data>
		W8/9r5ETAmrhZt2oLvTpV9n4n7I=
		</data>
		<key>Resources/m_fileArch.png</key>
		<data>
		XU4a0+LLQQSrx/6/hI5tHoWRILE=
		</data>
		<key>Resources/m_fileDocu.png</key>
		<data>
		kkq1VI0r5L9Y7m92PQ7DtVtms9k=
		</data>
		<key>Resources/m_fileVedio.png</key>
		<data>
		+dSeDSSmE+7mSnje+vrZZFvf7x0=
		</data>
		<key>Resources/m_filemusic.png</key>
		<data>
		zvlYvUYD+pVJXDpFVHPOxEdE6/k=
		</data>
		<key>Resources/m_music.png</key>
		<data>
		bKKDC7ttdARIFPb1IPgM2emwST4=
		</data>
		<key>Resources/m_picture.png</key>
		<data>
		n0fgBRLDwlgBXQyy5KawXUOSXOY=
		</data>
		<key>Resources/mailFile_someSelected.png</key>
		<data>
		eaAd+QUX87VZ8oP5Byiq5PUQ7BI=
		</data>
		<key>Resources/mailSelected.png</key>
		<data>
		n/jtfdbIVzq52ZAHLkMR+4mwYrA=
		</data>
		<key>Resources/mail_Selected.png</key>
		<data>
		fnnGVXZSGtzksuyLaFujwTvH79w=
		</data>
		<key>Resources/mail_unSelected.png</key>
		<data>
		vvEAwQGj6qGd7ufvsCemiJL93wg=
		</data>
		<key>Resources/mailunSelected.png</key>
		<data>
		I77+GF45NTb6UY597LhWuujAk9Y=
		</data>
		<key>Resources/mainground.png</key>
		<data>
		uIrwT93cHf5xy9kryfWeb19zcoY=
		</data>
		<key>Resources/midunderbac.png</key>
		<data>
		uLGLaoqYWSqGnprMDxteAz3NtV0=
		</data>
		<key>Resources/movFile_someSelected.png</key>
		<data>
		SNgQqEYq48pWx5rRG9Qg631kMZ4=
		</data>
		<key>Resources/movImg.png</key>
		<data>
		lxki6S3up+ronJoJ/ZZt56rl6zE=
		</data>
		<key>Resources/musicFile_someSelected.png</key>
		<data>
		oUbAjb01wJKHL3YHwfCm0cfI7tU=
		</data>
		<key>Resources/outPut.png</key>
		<data>
		hGN46BV9kVzso9bi/tnn48i3iaQ=
		</data>
		<key>Resources/outPut2.png</key>
		<data>
		cley43dOxypS5vJ4K1EuQxzLPOk=
		</data>
		<key>Resources/outPut3.png</key>
		<data>
		AaqG/pVFX9KkUjlWyHfL5/5yts8=
		</data>
		<key>Resources/partitionImg.tiff</key>
		<data>
		bISAmsQrBPAVaANhvN8W5Tsk2p4=
		</data>
		<key>Resources/photoFile_someSelected.png</key>
		<data>
		+4JY3c1Gm7pGDZqMhtmeayxwpwQ=
		</data>
		<key>Resources/photo_someSelected.png</key>
		<data>
		5PoPOkhBe1xXVWbL2iHcAFls89I=
		</data>
		<key>Resources/poor.png</key>
		<data>
		7jvYKnr8Tnf5oZngtmGpDU7B6Sk=
		</data>
		<key>Resources/raw1.png</key>
		<data>
		/Tcyi3Oe2nRyaHyqS9yI9VFqhBQ=
		</data>
		<key>Resources/raw2.png</key>
		<data>
		uN8FxhNECRwM84BBL0eTB11nqN8=
		</data>
		<key>Resources/raw3.png</key>
		<data>
		NpmaEbEkBQSAyFVuUOyNWXWQWGg=
		</data>
		<key>Resources/recover1.png</key>
		<data>
		I/uob8MZ1+sC51CHgNzahROmhL8=
		</data>
		<key>Resources/recover2.png</key>
		<data>
		l/KCLiWyKb5/SKMVS7fRQQX9j0w=
		</data>
		<key>Resources/rightunderbac.png</key>
		<data>
		xrhO1ZxkGYuNrN2uD9vp3MuL7Es=
		</data>
		<key>Resources/rootFileSelected.png</key>
		<data>
		SSuG0Rusfn32S5EntSL/4aBaRsc=
		</data>
		<key>Resources/rootSelectedSome.png</key>
		<data>
		fc4Q5IudQqOqqAWnTzxHnBboOPE=
		</data>
		<key>Resources/rootunselect.png</key>
		<data>
		PNPV9+JYZPGFp6KdtVVQ1e8twcA=
		</data>
		<key>Resources/row.png</key>
		<data>
		gn/xVsnzahirNkaRygUqGbmyUO0=
		</data>
		<key>Resources/savescan1.png</key>
		<data>
		OGEv2szsBSXjXUztUQmXpoGjdww=
		</data>
		<key>Resources/savescan2.png</key>
		<data>
		DQb0F1aaifBPNEtgdN7hHQwaY4M=
		</data>
		<key>Resources/scan1.png</key>
		<data>
		ksam5CzV+h4rqm518u8KmMFjW8E=
		</data>
		<key>Resources/scan2.png</key>
		<data>
		Bv9smgjrWITX6jBMnBGcx4kaNws=
		</data>
		<key>Resources/schpartion1.png</key>
		<data>
		MyOKcXFeCqm5l2cberDoesZykQU=
		</data>
		<key>Resources/schpartion2.png</key>
		<data>
		Z+yPCzauwI8yb2pzF4lrfex+Ynk=
		</data>
		<key>Resources/secondBottom.png</key>
		<data>
		F+insP/QztBDC0V/UTTtL8GL8uw=
		</data>
		<key>Resources/selected.png</key>
		<data>
		aGevR/zAbXdmkGsZlimTVPRBjCM=
		</data>
		<key>Resources/selectedSome.png</key>
		<data>
		a5rkyhH3YghFPKlti1Hcz/Qywws=
		</data>
		<key>Resources/separator.png</key>
		<data>
		y2JOPqm/oEG6or8ahkTGlzWl0AI=
		</data>
		<key>Resources/session.png</key>
		<data>
		jqrAP1okzRaZDbghStlyZXBxRus=
		</data>
		<key>Resources/sizeBig.png</key>
		<data>
		qxG0u2HX+A5nrSFF5fbGGV1Uyqk=
		</data>
		<key>Resources/thirdBottom.png</key>
		<data>
		QPpQPX15GgAwXEut3kQMRbocr4Q=
		</data>
		<key>Resources/thumImg.tiff</key>
		<data>
		oOzs/3GT4fQnA2lm9G0aWCZEfYQ=
		</data>
		<key>Resources/twitter.png</key>
		<data>
		ilIOhf8mm8zdWtDv1QzQzoJHPu8=
		</data>
		<key>Resources/un_Arch.png</key>
		<data>
		TyM9TdVsxOG1UMs5DCsCfYzvzL0=
		</data>
		<key>Resources/un_Docu.png</key>
		<data>
		cIYeQkGRwAs3krAX1Gebh5jYgKY=
		</data>
		<key>Resources/un_Video.png</key>
		<data>
		Wb5Xf5KuRqEZGNnBUtGGV0Z7Ibc=
		</data>
		<key>Resources/un_fileArch.png</key>
		<data>
		sIkxBlkO6yYQj1KiMDIiL+47A4o=
		</data>
		<key>Resources/un_fileDocu.png</key>
		<data>
		nD/muNpZPLtdhr5pWI5jc3Y0sEQ=
		</data>
		<key>Resources/un_fileVedio.png</key>
		<data>
		m+acxm4BlNAOe9+V7milcV55oDg=
		</data>
		<key>Resources/un_filemusic.png</key>
		<data>
		JXDnqYrW7t08kJVdYOupQWkIs0g=
		</data>
		<key>Resources/un_music.png</key>
		<data>
		mDspU2X95sm8J+fE71STNp4+XPc=
		</data>
		<key>Resources/un_photo.png</key>
		<data>
		Cr5oao1y5/qqNl6hx3dC1pD9ffw=
		</data>
		<key>Resources/un_picture.png</key>
		<data>
		olN65AOF/LLI1YHhook5dkH6eOc=
		</data>
		<key>Resources/unkonwDevice.png</key>
		<data>
		gWrWD16bwpF4KR5Q84MXcIhsWn0=
		</data>
		<key>Resources/unselected.png</key>
		<data>
		LxHBeYxDF5Ct9BHYVZ80JTtQPDc=
		</data>
		<key>Resources/wcolumn.png</key>
		<data>
		BdJQwsQt0a2OBihgPTSIBannBmk=
		</data>
		<key>Resources/wcoverflow.png</key>
		<data>
		CoewYVFgyWJdnId3FMe5HjlHifI=
		</data>
		<key>Resources/whitebg.png</key>
		<data>
		aL9rBSiTv8aFiidBIdFziO0pXag=
		</data>
		<key>Resources/wicon.png</key>
		<data>
		uy3Z2gA+h3G2+TFDBIj5p+w3wbI=
		</data>
		<key>Resources/wlist.png</key>
		<data>
		om6z7BeTlZGy430pTpgW77+f3ig=
		</data>
		<key>Resources/wslogo.png</key>
		<data>
		EjjQU0eH35DGwl6d2SLIMIbIC7k=
		</data>
	</dict>
	<key>rules</key>
	<dict>
		<key>^Resources/</key>
		<true/>
		<key>^Resources/.*\.lproj/</key>
		<dict>
			<key>optional</key>
			<true/>
			<key>weight</key>
			<real>1000</real>
		</dict>
		<key>^Resources/.*\.lproj/locversion.plist$</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<real>1100</real>
		</dict>
		<key>^version.plist$</key>
		<true/>
	</dict>
</dict>
</plist>
