<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>files</key>
	<dict>
		<key>Resources/English.lproj/Localizable.strings</key>
		<dict>
			<key>hash</key>
			<data>
			xITuNjuG5EPU7yx5fQsXlzqWjJ4=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/English.lproj/RegisterDlg.nib</key>
		<dict>
			<key>hash</key>
			<data>
			O5HAQKYEVOXcTHemSDAePOpNOnM=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/German.lproj/Localizable.strings</key>
		<dict>
			<key>hash</key>
			<data>
			7AzXWIAOTRqRvRmsmg6temFn4vc=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/German.lproj/RegisterDlg.nib</key>
		<dict>
			<key>hash</key>
			<data>
			dEIdvNsTM+y4DCO2Jv+mvhOA/vU=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/Info.plist</key>
		<data>
		k4H92ADtC9RzHo6b6uA2cAkso5o=
		</data>
		<key>Resources/Japanese.lproj/Localizable.strings</key>
		<dict>
			<key>hash</key>
			<data>
			LHSey02xZc/Fu5uMtuX69T4GY4g=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/Japanese.lproj/RegisterDlg.nib</key>
		<dict>
			<key>hash</key>
			<data>
			LmvgbSUEaaB7cSAwFlSUt/KcVBc=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/Log.icns</key>
		<data>
		pwYSxTC41uiZGwfkc79GQoXfGNA=
		</data>
		<key>Resources/fr.lproj/Localizable.strings</key>
		<dict>
			<key>hash</key>
			<data>
			deCOm/uOt9Y2/chc4cQZSR7KkXo=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/fr.lproj/RegisterDlg.nib</key>
		<dict>
			<key>hash</key>
			<data>
			fTsVUhCUOc9WBx7VV1dJ1SqCOTA=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/nl.lproj/Localizable.strings</key>
		<dict>
			<key>hash</key>
			<data>
			q5/J6GJJDPG2KxJW82QWSHNvYT0=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/nl.lproj/RegisterDlg.nib</key>
		<dict>
			<key>hash</key>
			<data>
			jdKQH6g98pShozxmIeJ7hyWbyuM=
			</data>
			<key>optional</key>
			<true/>
		</dict>
	</dict>
	<key>rules</key>
	<dict>
		<key>^Resources/</key>
		<true/>
		<key>^Resources/.*\.lproj/</key>
		<dict>
			<key>optional</key>
			<true/>
			<key>weight</key>
			<real>1000</real>
		</dict>
		<key>^Resources/.*\.lproj/locversion.plist$</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<real>1100</real>
		</dict>
		<key>^version.plist$</key>
		<true/>
	</dict>
</dict>
</plist>
