<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>files</key>
	<dict>
		<key>Resources/Add to Dock.scpt</key>
		<data>
		U44b9OnCP5K/BndmIY78J2vK0Co=
		</data>
		<key>Resources/English.lproj/InfoPlist.strings</key>
		<dict>
			<key>hash</key>
			<data>
			menkgzdGJlKzENWxKLMFxqqe2QU=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/English.lproj/MainMenu.nib</key>
		<dict>
			<key>hash</key>
			<data>
			IXHeR91AEvRdgZFG/xO8OzUcrgc=
			</data>
			<key>optional</key>
			<true/>
		</dict>
		<key>Resources/MenuIcon.png</key>
		<data>
		BHIdxz6TDdimCUAKo49cr2ZfRms=
		</data>
		<key>Resources/MenuIconPressed.png</key>
		<data>
		zshxIIGPApakkdFxBCeU1DVHsw4=
		</data>
		<key>Resources/RemindWindow.nib</key>
		<data>
		h+fXU8DIs5EAsSrf7hggGhuUzAE=
		</data>
		<key>Resources/Setting.nib</key>
		<data>
		aKQ3kVtH4YgzFXtVstWodMFQ9/Y=
		</data>
		<key>Resources/TipsWindow.nib</key>
		<data>
		+Pj87EhofjOC/JOs14ZVNvoy4IY=
		</data>
		<key>Resources/bntTipClose_press.png</key>
		<data>
		ygScKSVFMopmEde1QoQFx9y8Sjo=
		</data>
		<key>Resources/bottom.png</key>
		<data>
		1gUqMRUIADr96P1wHNVICLM89mc=
		</data>
		<key>Resources/btnHelper_normal.png</key>
		<data>
		9RpjIRKSZR7/PQ+PHS2GpKa4tcI=
		</data>
		<key>Resources/btnHome_hot.png</key>
		<data>
		aRGH+y6hzlHcVccSh6ZSoZwSYiE=
		</data>
		<key>Resources/btnHome_normal.png</key>
		<data>
		GeiZMrw0V6fQnZIfBMmZ/g8xV4Y=
		</data>
		<key>Resources/btnOnlineHelp_hot.png</key>
		<data>
		8aYJlkJiNnC+kIXA5YK0WDqtMGI=
		</data>
		<key>Resources/btnOnlineHelper_normal.png</key>
		<data>
		n1SzfR6NhD4Vfj2X7P86o614hXs=
		</data>
		<key>Resources/btnSetting_hot.png</key>
		<data>
		DW7oeqm2FIQ/ape4Eli+Vxcz+Fk=
		</data>
		<key>Resources/btnSetting_normal.png</key>
		<data>
		NxiKKUZx5cU6Vz9LBBB8hy+m4yw=
		</data>
		<key>Resources/btnTipClose_hot.png</key>
		<data>
		aHWwvT7eSaFurPkywBVXrAf4NmQ=
		</data>
		<key>Resources/btnTipClose_normal.png</key>
		<data>
		FYqo1Ht3/sFR3lM7JG+WceVhJBE=
		</data>
		<key>Resources/images/data-recovery-box-bg.png</key>
		<data>
		fmO/eO2VJC1l1eVCdmiP/qiz+28=
		</data>
		<key>Resources/images/data-recovery-for-mac-bg.png</key>
		<data>
		uRT20fjRyafMnRSGu4Rv3nQ5jSQ=
		</data>
		<key>Resources/images/dvd-slideshow-builder-deluxe-box-bg.png</key>
		<data>
		pvk9gKwD7qmrn22nqk4AKd4VsDY=
		</data>
		<key>Resources/images/mac-fantashow-box-bg.png</key>
		<data>
		nr/RcsQAPo81ktiU0gcCsHdYqQw=
		</data>
		<key>Resources/images/mac-video-converter-ultimate-box-bg.png</key>
		<data>
		VuXO/d7Xec2sBXEmFqsAlTjYEXA=
		</data>
		<key>Resources/images/mobilego-bg.png</key>
		<data>
		dbBoTQlvwUHJ90mFgX7W/37mykk=
		</data>
		<key>Resources/images/pdf-converter-pro-box-bg.png</key>
		<data>
		XLT6ttx8EntBbva+dyL9egkr/Ig=
		</data>
		<key>Resources/images/pdf-converter-pro-for-mac-box-bg.png</key>
		<data>
		EyC6QRaLM/+m7uKIM/VeZOJsiZ4=
		</data>
		<key>Resources/images/video-converter-ultimate-bg.png</key>
		<data>
		vjnKecryF4yaQNNUGg6e8xbjyJU=
		</data>
		<key>Resources/install</key>
		<data>
		26T45zG0B/Dc2oDjkGohA0pwA7k=
		</data>
		<key>Resources/mac.html</key>
		<data>
		aEW73Hz2OpsT5iMX4XvOk1LM3KQ=
		</data>
		<key>Resources/networkConnectError.html</key>
		<data>
		JiSTY9qkaDJh8jgC9GOvq4M5F64=
		</data>
		<key>Resources/style/adv-bg_20.png</key>
		<data>
		awArwAKz/YkW2SdIUf0HNdCP39c=
		</data>
		<key>Resources/style/btn.png</key>
		<data>
		hdv4x2t7XKYsdvK10J0VzZU+85Q=
		</data>
		<key>Resources/style/buy_28.png</key>
		<data>
		+YZekdB5mcKu4jDlKjFpDt8iIQ0=
		</data>
		<key>Resources/style/down_24.png</key>
		<data>
		Z8ebDEUYj1b+GFCKNiQbooafloo=
		</data>
		<key>Resources/style/hot_20.png</key>
		<data>
		90RPtwtYJblFr9e5kvXwarMel64=
		</data>
		<key>Resources/style/images/bg5.png</key>
		<data>
		I9842brnZF5TfBgTpOZ3Iu/K1kI=
		</data>
		<key>Resources/style/images/icon_alert.png</key>
		<data>
		VO7fiVDrw/5w1LuEdwhVSHS9zsI=
		</data>
		<key>Resources/style/jquery-1.4.2.js</key>
		<data>
		1RaMmoZXnR/CxcPwcG6+OsFN/kY=
		</data>
		<key>Resources/style/li.gif</key>
		<data>
		Qyz0/hkmXySqvbdjQ/jxLwkCiOQ=
		</data>
		<key>Resources/style/main.css</key>
		<data>
		IY/EWJK7gJ1vWGwRkAiCw2LpWDU=
		</data>
		<key>Resources/style/nav-_10.png</key>
		<data>
		9tHUmXbWA40rw7CRclF2Mie4PJU=
		</data>
		<key>Resources/style/style.css</key>
		<data>
		Q0lYVBs6mMmrqxhyYrDvXe5myKo=
		</data>
		<key>Resources/topbackground.png</key>
		<data>
		5ZyEJ9f3mSz6TRAXeFeHkQne+Wk=
		</data>
		<key>Resources/wondershare helper.icns</key>
		<data>
		/FUtQWCYuzVF1iwmYh+WuKS8kwA=
		</data>
	</dict>
	<key>rules</key>
	<dict>
		<key>^Resources/</key>
		<true/>
		<key>^Resources/.*\.lproj/</key>
		<dict>
			<key>optional</key>
			<true/>
			<key>weight</key>
			<real>1000</real>
		</dict>
		<key>^Resources/.*\.lproj/locversion.plist$</key>
		<dict>
			<key>omit</key>
			<true/>
			<key>weight</key>
			<real>1100</real>
		</dict>
		<key>^version.plist$</key>
		<true/>
	</dict>
</dict>
</plist>
