<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>fileSuffix</key>
		<string>DOC</string>
		<key>fileFullName</key>
		<string>MS Word (Office97, 2000, XP, 2003)</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>DOCX</string>
		<key>fileFullName</key>
		<string>MS Word( Office 2007)</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>XLS</string>
		<key>fileFullName</key>
		<string>MS Excel( Office97, 2000, XP, 2003)</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>XLSX</string>
		<key>fileFullName</key>
		<string>MS Excel( Office 2007)</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>PPT</string>
		<key>fileFullName</key>
		<string>MS PowerPoint( Office97, 2000, XP, 2003)</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>PPTX</string>
		<key>fileFullName</key>
		<string>MS PowerPoint( Office 2007)</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>PDF</string>
		<key>fileFullName</key>
		<string>Adobe Acrobat Reader</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>CWK</string>
		<key>fileFullName</key>
		<string>CWK Files</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>HTM/HTML</string>
		<key>fileFullName</key>
		<string>HyperTextMarkup Language</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>INDD</string>
		<key>fileFullName</key>
		<string>Adobe InDesign</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>EPS</string>
		<key>fileFullName</key>
		<string>Adobe Encapsulated PostScript</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>PAGES</string>
		<key>fileFullName</key>
		<string>iWork Pages</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>KEY</string>
		<key>fileFullName</key>
		<string>iWork Keynote</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>NUMBERS</string>
		<key>fileFullName</key>
		<string>iWork Numbers</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>ODT</string>
		<key>fileFullName</key>
		<string>OpenDocument Text Document</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>ODP</string>
		<key>fileFullName</key>
		<string>OpenDocument Presentation</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>ODS</string>
		<key>fileFullName</key>
		<string>OpenDocument Spreadsheets</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>ODG</string>
		<key>fileFullName</key>
		<string>OpenDocument Graphics</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>ODF</string>
		<key>fileFullName</key>
		<string>OpenDocument Formulae</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>RTF</string>
		<key>fileFullName</key>
		<string>Rich Text Format</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>PLIST</string>
		<key>fileFullName</key>
		<string>Mac OS X Property List File</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>VSD</string>
		<key>fileFullName</key>
		<string>Microsoft Visio Document</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>MAT</string>
		<key>fileFullName</key>
		<string>MATLAB</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>TAX</string>
		<key>fileFullName</key>
		<string>TurboTax</string>
		<key>fileType</key>
		<string>Document</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>AIF/AIFF</string>
		<key>fileFullName</key>
		<string>AIF Files</string>
		<key>fileType</key>
		<string>Audio</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>M4A</string>
		<key>fileFullName</key>
		<string>M4A Files</string>
		<key>fileType</key>
		<string>Audio</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>MP3</string>
		<key>fileFullName</key>
		<string>MP3 Files</string>
		<key>fileType</key>
		<string>Audio</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>WAV</string>
		<key>fileFullName</key>
		<string>WAV Files</string>
		<key>fileType</key>
		<string>Audio</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>WMA</string>
		<key>fileFullName</key>
		<string>Windows Media Audio</string>
		<key>fileType</key>
		<string>Audio</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>MID/MIDI</string>
		<key>fileFullName</key>
		<string>Musical Instrument Digital Interface</string>
		<key>fileType</key>
		<string>Audio</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>OGG</string>
		<key>fileFullName</key>
		<string>OGG Files</string>
		<key>fileType</key>
		<string>Audio</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>AAC</string>
		<key>fileFullName</key>
		<string>Advanced Audio Coding</string>
		<key>fileType</key>
		<string>Audio</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>AVI</string>
		<key>fileFullName</key>
		<string>Audio Video Interleave</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>MOV</string>
		<key>fileFullName</key>
		<string>QuickTime Movie</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>MP4</string>
		<key>fileFullName</key>
		<string>MP4 Files</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>M4V</string>
		<key>fileFullName</key>
		<string>M4V Files</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>3GP</string>
		<key>fileFullName</key>
		<string>3GP Files</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>3G2</string>
		<key>fileFullName</key>
		<string>3G2 Files</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>WMV</string>
		<key>fileFullName</key>
		<string>Widnow Media Video</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>ASF</string>
		<key>fileFullName</key>
		<string>Window Media</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>FLV</string>
		<key>fileFullName</key>
		<string>Flash Video</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>SWF</string>
		<key>fileFullName</key>
		<string>Macromedia Flash Format</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>MPG</string>
		<key>fileFullName</key>
		<string>MPEG Movie File</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>RM/RMVB</string>
		<key>fileFullName</key>
		<string>Real Media</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>MXF</string>
		<key>fileFullName</key>
		<string>Material Exchange Format File</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>MPEG</string>
		<key>fileFullName</key>
		<string>MPEG Movie File</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>MKV</string>
		<key>fileFullName</key>
		<string>Matroska Video File</string>
		<key>fileType</key>
		<string>Video</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>JPG</string>
		<key>fileFullName</key>
		<string>JPEG Images</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>TIF/TIFF</string>
		<key>fileFullName</key>
		<string>Tiff Images</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>PNG</string>
		<key>fileFullName</key>
		<string>PNG Files</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>BMP</string>
		<key>fileFullName</key>
		<string>BMP Files</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>GIF</string>
		<key>fileFullName</key>
		<string>GIF Files</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>PSD</string>
		<key>fileFullName</key>
		<string>Adobe Photoshop</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>CRW</string>
		<key>fileFullName</key>
		<string>Canon(CRW)</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>CR2</string>
		<key>fileFullName</key>
		<string>Canon(CR2)</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>NEF</string>
		<key>fileFullName</key>
		<string>Nikon</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>ORF</string>
		<key>fileFullName</key>
		<string>Olympus</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>RAF</string>
		<key>fileFullName</key>
		<string>Fuji</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>SR2</string>
		<key>fileFullName</key>
		<string>Sony</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>MRW</string>
		<key>fileFullName</key>
		<string>Minolta</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>DCR</string>
		<key>fileFullName</key>
		<string>Kodak(DCR)</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>WMF</string>
		<key>fileFullName</key>
		<string>Windows Graphics Metafile</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>DNG</string>
		<key>fileFullName</key>
		<string>DNG Files</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>ERF</string>
		<key>fileFullName</key>
		<string>Epson</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>RAW</string>
		<key>fileFullName</key>
		<string>RAW Files</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>AI</string>
		<key>fileFullName</key>
		<string>Adobe Illustrator Format</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>XCF</string>
		<key>fileFullName</key>
		<string>GIMP Image File</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>ARW</string>
		<key>fileFullName</key>
		<string>Sony</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>X3F</string>
		<key>fileFullName</key>
		<string>Sigma</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>DWG</string>
		<key>fileFullName</key>
		<string>AutoCAD File Format</string>
		<key>fileType</key>
		<string>Image</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>ZIP</string>
		<key>fileFullName</key>
		<string>Winzip Compressed File</string>
		<key>fileType</key>
		<string>Archive</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>RAR</string>
		<key>fileFullName</key>
		<string>Winrar Compressed File</string>
		<key>fileType</key>
		<string>Archive</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>SIT</string>
		<key>fileFullName</key>
		<string>Stuffit Archive File</string>
		<key>fileType</key>
		<string>Archive</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>7z</string>
		<key>fileFullName</key>
		<string>7-zip Compressed File</string>
		<key>fileType</key>
		<string>Archive</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>SITX</string>
		<key>fileFullName</key>
		<string>Stuffit Compressed File</string>
		<key>fileType</key>
		<string>Archive</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>Bz2</string>
		<key>fileFullName</key>
		<string>Bzip Archive File</string>
		<key>fileType</key>
		<string>Archive</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>PST</string>
		<key>fileFullName</key>
		<string>Microsoft Outlook Data File</string>
		<key>fileType</key>
		<string>Email</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>DBX</string>
		<key>fileFullName</key>
		<string>Outlook Express E-Email File</string>
		<key>fileType</key>
		<string>Email</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>EMLX</string>
		<key>fileFullName</key>
		<string>Mac Mail</string>
		<key>fileType</key>
		<string>Email</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>EML</string>
		<key>fileFullName</key>
		<string>Outlook Express Email Message</string>
		<key>fileType</key>
		<string>Email</string>
		<key>isSelected</key>
		<true/>
	</dict>
	<dict>
		<key>fileSuffix</key>
		<string>MSG</string>
		<key>fileFullName</key>
		<string>Outlook Mail Message</string>
		<key>fileType</key>
		<string>Email</string>
		<key>isSelected</key>
		<true/>
	</dict>
</array>
</plist>
